@using Coop.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle mr-md-2" data-toggle="dropdown">
                    @User.Identity.Name
                </a>
                
                <ul class="dropdown-menu" role="menu">
                    <li class="nav-item">
                        <a class="btn-link" href="@Url.Action("UserProfile", "Profile")">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn-link" href="@Url.Action("Logout", "Account")">Выйти</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    Выйти
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Register", "Account")">
                <span class="glyphicon glyphicon-registration-mark"></span>
                Регистрация
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login", "Account")">
                <span class="glyphicon glyphicon-log-in"></span>
                Войти
            </a>
        </li>
    </ul>
}  